body {
  width: 100%;
  height: max-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "outfit", sans-serif;
  line-height: 1;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(253,247,228,1) 41%, rgba(253,247,228,1) 100%);
}
.navbar {
  width: 80%;
  height: 8dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbab8c;

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 40vw;
    column-gap: 4vw;

    h1 {
      font-size: 1vw;
      color: black;
      width: 8vw;
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 1.2vw;
      font-weight: 600;
    }
    a:hover {
      color: black;
      text-decoration: underline;
    }
    
  }
  .nav-logos {
    display: flex;
    margin-right: 2vw;
    align-items: center;
    justify-content: left;
    width: 10vw;
    padding-left: 1dvw;
    column-gap: 1vw;
  }
  .dropdown-menu{
    display: none;
    position: absolute;
    top: 130%;
    right: 0;
    width: max-content;
    height: 10vh;
    background-color: whitesmoke;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 999;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;

    a{
      color: black;
      text-decoration: none;
      height: 5vh;
      width: 10vw;
      padding-left: 1vw;
      padding-right: 1vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1vw;

      .material-symbols-outlined{
        font-size: 16px;
        color: black;
        width: 3vw;
      }
      &:hover{
        background-color: #bbab8c;
        color: whitesmoke;
      }
    }
  }

  .nav-logos .material-symbols-outlined {
    font-size: 2.5vw;
    color: black;
    width: 4dvw;
    transition: color 0.3s;
  }

  .nav-logos .material-symbols-outlined:hover {
    cursor: pointer;
    color: #bbab8c;
  }
}
.container {
  width: 100dvw;
  height: 92dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  table {
    width: 80dvw;
    height: 90dvh;
    margin-top: 3dvh;
    tr {
      width: 100%;
      height: calc(100% / 7);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #f0f0f0;
      padding: 0 10px;
      font-size: 14px;
      font-weight: 500;
      color: #333;
      text-align: left;
      border-radius: 5px;
      margin-bottom: 10px;
      transition: all 0.3s;

      &:hover {
        box-shadow: unset;
        background-color: var(--hover-color);
      }

      &:nth-last-child(2){
        font-weight: bold;
        font-size: 18px;
        justify-content: end;
      }

      &:last-child {
        
        td button{
            width: 10vw;
            height: 80%;
            background-color: #BBAB8C;
            color: whitesmoke;
            border:none;
            border-radius: calc(3vh + 18px);
            font-weight: 600;
            font-size: 1.2vw;
            padding: 15px 8px 15px 10px;
        }
      }


      td:last-child button {
        width: 10vw;
        height: 80%;
        background-color: #BBAB8C;
        color: whitesmoke;
        border:none;
        border-radius: calc(3vh + 18px);
        font-weight: 600;
        font-size: 1.2vw;
        padding: 15px 8px 15px 10px;

      }
    }
    tr:last-child td, tr:nth-last-child(2) td{
      height: max-content;
    }

    th,
    td {
      width: calc(100% / 6);
      color: #333;
      font-weight: 500;
      padding: 10px;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      column-gap: 2dvh;
      height: 15vh;
      overflow-y: auto;

      a {
        width: 80%;
        height: 5dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #f0f0f0;
      }

      img{
        width: 10dvh;
        height: 10dvh;
        border-radius: 1dvh;
        
      }
    }
    th {
      font-weight: bold;
      font-size: 18px;
      /* height: max-content; */
    }
  }
}
