body {
  width: 100%;
  height: max-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "outfit", sans-serif;
}
.navbar {
  width: 80%;
  height: 8dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbab8c;

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 40vw;
    column-gap: 4vw;

    h1 {
      font-size: 1vw;
      color: black;
      width: 8vw;
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 1.2vw;
      font-weight: 600;
    }
    a:hover {
      color: black;
      text-decoration: underline;
    }
  }
  .nav-logos {
    display: flex;
    margin-right: 2vw;
    align-items: center;
    justify-content: left;
    width: 10vw;
    padding-left: 1dvw;
    column-gap: 1vw;
  }

  .nav-logos .material-symbols-outlined {
    font-size: 2.5vw;
    color: black;
    width: 4dvw;
    transition: color 0.3s;
  }

  .nav-logos .material-symbols-outlined:hover {
    cursor: pointer;
    color: #bbab8c;
  }

  button {
    width: 10vw;
    height: 7vh;
    background-color: #bbab8c;
    color: whitesmoke;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(3vh + 18px);
    font-weight: 600;
    font-size: 1.2vw;
    padding: 15px 8px 15px 10px;
  }
}
#hero {
  width: 80vw;
  height: 80dvh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 7vh;
}
.hero-text {
  width: 50%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2vh;
  margin-left: 3vw;

  h1 {
    color: black;
    font-size: 3vw;
    font-weight: 600;
    height: 10vh;
    width: 30vw;
  }

  p {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 1.2vw;
    font-weight: 300;
    margin-top: 1vh;
    width: 30vw;
    height: 7vh;
    text-align: justify;
  }

  .search {
    display: flex;
    justify-content: left;
    align-items: center;
    /* column-gap: 1vw; */
    width: 30vw;
    margin-left: 0;

    .label {
      position: relative;
      width: 20vw;
      height: 3vh;
      display: flex;
      justify-content: center;
      border-radius: calc(3vh + 18px);
      border: 1px solid var(--backdrop-color);
      padding: 15px 8px 15px 10px;
      text-align: left;
      /* margin-top: 2vh; */
      box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;

      .material-symbols-outlined {
        position: absolute;
        top: 53%;
        right: 0;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        color: black;
      }

      .input {
        width: 100%;
        height: 3vh;
        background-color: transparent;
        outline: none;
        border: none;
        color: var(--primary-color);
        font-size: 15px;
      }
    }
    button {
      width: 10vw;
      height: 100%;
      background-color: #bbab8c;
      color: whitesmoke;
      border: none;
      border-radius: calc(3vh + 18px);
      font-weight: 600;
      font-size: 1.2vw;
      margin-left: 1vw;
      padding: 15px 8px 15px 10px;
    }
  }
}
.hero-image {
  height: 100%;
  width: 50%;
  background-size: cover;
  background-image: url("../Images/kirsten-drew-n49BjsFf5dI-unsplash.jpg");
  border-radius: 4vw;
}

#recommendation {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 97vh;
  align-items: center;
  margin-top: 5vh;
  padding-top: 3dvh;

  p {
    all: unset;
    width: max-content;
    height: 6vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: blue;
    font-size: 1vw;
  }

  h1 {
    color: black;
    font-size: 2vw;
    font-weight: 600;
    margin-top: 5vh;
  }

  .carousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70vh;
    column-gap: 2vw;

    .card {
      width: 20vw;
      height: 55vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 2vw;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background-color: whitesmoke;
      position: relative;
      overflow: hidden;
      row-gap: 1vh;
      img {
        width: 90%;
        height: 60%;
        border-radius: 2vw;
        position: relative;
      }

      h2 {
        all: unset;
        color: black;
        font-size: 1.2vw;
        font-weight: 600;
        height: 2dvh;
        width: 90%;
        text-align: left;
      }

      p {
        all: unset;
        color: black;
        font-size: 1vw;
        font-weight: 300;
        width: 90%;
        text-align: left;
        height: 5dvh;
      }

      .material-symbols-outlined {
        font-size: 5vw;
        color: black;
        width: 20dvw;
        height: 39dvh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(5px);
        --webkit-backdrop-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
      }
      &:hover .material-symbols-outlined {
        display: flex;
        cursor: pointer;
      }
      .inner-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 7vh;
        margin-top: 1vh;

        h3 {
          font-size: 1vw;
          height: max-content;
          color: black;

          p {
            color: blue;
            font-weight: 500;
          }
        }

        .material-symbols-outlined {
          font-size: 2vw;
          color: black;
          width: 2vw;
          height: 3dvh;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          cursor: pointer;

          &:hover {
            font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
            color: red;
          }
        }
      }
    }
  }
  .view-more {
    width: 100%;
    display: flex;
    justify-content: right;
  }
}

#about-us {
  height: 130dvh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about-top {
    width: 100%;
    height: 30dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Images/american-heritage-chocolate-vdx5hPQhXFk-unsplash.jpg') no-repeat center center/cover;
        background-blend-mode: overlay; */
    background-color: #bbab8c;

    h1 {
      color: whitesmoke;
      font-size: 3vw;
      font-weight: 800;
    }

    p {
      color: whitesmoke;
      font-size: 1.2vw;
      font-weight: 500;
      width: 50vw;
      text-align: center;

      a {
        color: whitesmoke;
        text-decoration: none;
        font-weight: 600;
        width: 10dvw;
      }
    }
  }
  .about-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    flex-wrap: wrap;
    column-gap: 2vw;

    img {
      width: 30%;
      height: 75vh;
      object-fit: cover;
    }

    .about-text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      h2 {
        color: black;
        font-size: 3vw;
        font-weight: 600;
        text-align: center;
      }

      p {
        color: black;
        font-size: 1.2vw;
        font-weight: 300;
        width: 40vw;
        text-align: justify;
      }
      .card {
        width: max-content;
        height: 10vh;
        background: #ffff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-top: 2dvh;
        margin-bottom: 4dvh;
        margin-left: 1vw;
      }

      .card_load {
        width: 4dvw;
        height: 4dvw;
        position: relative;
        float: left;
        border-radius: 50%;
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: load89234 2s infinite;
      }

      .card_load_extreme_title {
        width: max-content;
        height: 10dvh;
        position: relative;
        padding-left: 2dvw;
        padding-right: 1dvw;
        float: right;
        border-radius: 5px;
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: load89234 2s infinite;

        .h1 {
          height: 50%;
          width: 100%;
          color: black;
          font-weight: 600;
          font-size: 1.2vw;
        }
        .p {
          height: 50%;
          width: 100%;
          color: black;
          font-weight: 300;
          font-size: 1vw;
        }
      }

      @keyframes load89234 {
        100% {
          background-position: -100% 0;
        }
      }
    }
  }
  .about-bottom {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbab8c;
    column-gap: 2dvw;

    p {
      color: whitesmoke;
      font-size: 1.2vw;
      font-weight: 600;
      width: max-content;
      text-align: center;
    }
  }
}
