body{
    width:100vw;
    /* height:100vh; */
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    font-family: "outfit", sans-serif;
    overflow-x: hidden;
    background-image: url('../Images/photo-1571115177098-24ec42ed204d.avif');

    .navbar{
        width: 80%;
        height: 10dvh;
        display: flex;
        justify-content:space-between;
        align-items: center;
        border-bottom: 1px solid #BBAB8C;
    
        .nav-links{
            display: flex;
            align-items: center;
            justify-content: left;
            width: 40vw;
            column-gap: 4vw;
            
            h1{
                font-size:1vw;
                color: black;
                width: 8vw;
            }
            a{
                text-decoration: none;
                color: black;
                font-size: 1.2vw;
                font-weight: 600;
            }
            a:hover{
                color: black;
                text-decoration: underline;
            }
        }
        .nav-logos{
            display: flex;
            margin-right: 2vw;
            align-items: center;
            justify-content: left;
            width: 10vw;
            padding-left: 1dvw;
            column-gap: 1vw;
        }
        
        .nav-logos .material-symbols-outlined{
            font-size: 2.5vw;
            color: black;
            width: 4dvw;
            transition: color 0.3s; 
        }
        
        .nav-logos .material-symbols-outlined:hover{
            cursor: pointer;
            color: #BBAB8C; 
        }
    
        button{
            width: 10vw;
            height: 7vh;
            background-color: #BBAB8C;
            color: whitesmoke;
            border:none;
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius: calc(3vh + 18px);
            font-weight: 600;
            font-size: 1.2vw;
            padding: 15px 8px 15px 10px;
        }
        
    }


    form{
        width: 45dvw;
        height: max-content;
        padding:1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius:1vw;
        background-color: rgb(245, 245,245);
        margin-top:3vh;

        h2,h3{
            width:70%;
            font-size: 20px;
            margin:0;
        }

        label{
            margin:0;
            width:70%;
        }
        input,select{
            width: 70%;
            height: 6vh;
            margin: 1vw 0;
            padding-left:2%;
            font-size: 1.2vw;
            border-radius: 5px;
            border:1px solid lightgrey;
            border-radius:3vh;

        }

        input{
            width:68%;
            padding-left:2%;
        }

        input[type="submit"]{
            width: 20vw;
            height: 7vh;
            background-color: #BBAB8C;
            color: whitesmoke;
            border:none;
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius: calc(3vh + 18px);
            font-weight: 600;
            font-size: 1.2vw;
        }
        #flavorSelections{
            display: flex;
            flex-wrap:wrap;

            input{
                width:3dvw;
                text-align:center;
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;   
                width: max-content;
                height: 10vh;
                margin: 1vw 0;
                padding: 0 10px;
                font-size: 1.2vw;
                border-radius: 5px;

                label{
                    width:max-content;
                }
            }
        }
    }

}