/* #FDF7E4
#FAEED1
#DED0B6
#BBAB8C */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    color: black;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(253,247,228,1) 41%, rgba(253,247,228,1) 100%);
}

.navbar{
    height:8dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0;
    background-color: transparent;

    h1{
        height: 100%;
        padding-left: 2dvw;
        display: flex;
        align-items: center;
        font-size: 18px;
        background-color: rgba(253,247,228,1);

    }
    p{
        width:max-content;
        color:red;
        animation: slide 10s linear infinite;
    }

    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1vw;
        width: max-content;
        padding: 0 1vw;

        a:hover{
            color: #FAEED1;
        }
    }
}
.main{
    width: 80%;
    height:90%;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1vw;
    overflow: hidden;

    .image{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../Images/blake-carpenter-7sMvmabgXAo-unsplash.jpg');
        background-size: cover;
    }
    .container{
        width:60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2dvh;

        h1{
            width:80%;
            height: max-content;
            text-align: left;
            font-size: 2em;
            font-weight: 400;
        }

        p{
            width:80%;
            height: 4dvh;
            text-align: left;
            font-size: 16px;
        }

        .input{
            width: 80%;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            h1{
                width:70%;
                height: max-content;
                text-align: left;
                font-size: 1em;
            }

            input{
                width: 70%;
                padding-left: 2%;
                height: 6dvh;
                border: 1px solid black;
                border-radius: 1dvh;
                outline: none;
                font-size: 16px;
            }
        }
        .submit{
            width: 80%;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            border-radius: 1vw;
            cursor: pointer;

            p{
                font-size: 1em;
                width: max-content;
            }

            button{
                width: 70%;
                height: 6dvh;
                border: none;
                background-color: #FAEED1;
                font-size: 16px;
                cursor: pointer;
                border-radius: 1dvh;
            }

            button:hover{
                background-color: #DED0B6;
            }
        }
    }
}
@keyframes slide{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(200%);
    }
}
